:root {
  --body-width: 1280px;

}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.menu-card {
  --border-color: rgb(90 53 49);
  padding: 0;
}

.menu-card:hover {
  --border-color: rgb(90 53 49);
  /* border: var(--border-color) 1px solid; */
  box-shadow: 0 0 5px var(--border-color) !important;
}

.login-frame {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 672px;
  align-items: left;
  /* center all children horizontally */
  /* text-align: center; */
}

@media (max-width: 768px) {
  .login-frame {
    width: 100%;
    padding: 1rem;
    box-shadow: none;

  }